if SHIELD_CORNE_HS_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne HS"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNE_HS_LEFT || SHIELD_CORNE_HS_RIGHT

config ZMK_SPLIT
    default y

endif

